.dropdown{
    width: 316px;
    border-radius: 5cm;
    padding-left: 10px;
    margin-top: 10px;
}
.wid{
    width: 300px;
    border-radius: 5cm;
    padding-left: 10px;
    margin-top: 10px;
}
.txt{
    text-align: center;
}